@* @model ShopTARge24.Models.Cocktails.CocktailSearchViewModel *@

<form method="get">
	<button asp-controller="cocktails" asp-action="getRandomCocktail" class="btn btn-success">Get a random drink!</button>
</form>