
<h1>Are you ready for some Chuck Norris jokes?</h1>
<form method="get">
	<div>
		<button asp-controller="chuckNorris" asp-action="getJoke" class="btn btn-success">Hell Yeah!</button>
	</div>
</form>
