
<div class="container d-flex justify-content-center">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Are you ready for some Chuck Norris jokes?</h5>
                <form method="get">
                    <div>
                        <button asp-controller="chuckNorris" asp-action="getJoke" class="btn btn-success">Hell Yeah!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>